@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-blue: #0156EB;
    --primary-bg-gray: #DFE3EE;
    --header-height: 3.5rem
}

body {
    background-color: var(--primary-bg-gray);
}

.route-active {
    @apply inline-flex px-6 py-1 relative text-[#4D4D4D] w-full gap-3 items-center
}

.route-inactive {
    @apply inline-flex px-6 text-[#B1B3B5] py-1 w-full gap-3 items-center
}

.route-active .route-icon {
    @apply bg-[var(--primary-blue)] text-white
}

.route-active .route-title {
    @apply text-[#4D4D4D] font-semibold
}

.route-inactive .route-icon {
    @apply bg-[#DFE3EE] text-[#A5ABC8]
}

.route-inactive .route-title {
    @apply text-[#4D4D4D] font-medium
}