@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-bg-gray: #fdfdfe;
    --header-height: 4rem
}

body {
    background-color: #fff;
}

.route-active {
    @apply flex py-2 px-2 relative text-[#4D4D4D] w-full gap-2 items-center bg-orange-300/25 rounded-md
}

.route-inactive {
    @apply flex py-2 px-2 w-full gap-2 items-center
}

.route-active .route-icon {
    @apply bg-orange-500 text-white
}



.route-active .route-title {
    @apply text-orange-600 font-semibold
}

.route-inactive .route-icon {
    @apply bg-orange-100 text-orange-600
}

.route-inactive .route-title {
    @apply !text-gray-600 font-medium
}

.hiddenscroll::-webkit-scrollbar {
    display: none;
}

.hiddenscroll {
    scrollbar-width: none;
    -ms-overflow-style: none;
}


.route-list-subitem::before {
    content: "";
}

.add-customer-bezier {
    transition-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
    ;
}

.shadow-c-md {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.shadow-c-sm {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}


.modal-sm {
    @apply w-screen md:w-[368px]
}

.modal-md {
    @apply w-screen md:w-[500px]
}

.modal-lg {
    @apply w-screen md:w-[600px]
}

.modal-xl {
    @apply w-screen md:w-[750px]
}

.modal-2xl {
    @apply w-screen md:w-[800px]
}

.modal-full {
    @apply w-screen
}

.button {
    @apply rounded-md outline-none focus:outline-none w-max shadow py-2 px-3 text-sm flex items-center flex-nowrap gap-1
}

.button.primary {
    @apply bg-orange-500 text-white
}

.button.default {
    @apply bg-blue-500 text-white
}

.button.success {
    @apply bg-green-500 text-white
}

.button.ghost {
    @apply bg-white text-gray-500 border-none
}

.button.outline {
    @apply bg-transparent border border-gray-400 text-gray-500
}

.button.danger {
    @apply bg-red-500 text-white
}



.button.sm {
    @apply w-[5rem]
}

.button.md {
    @apply w-[7rem]
}

.button.lg {
    @apply w-[9rem]
}

.button.xl {
    @apply w-[11rem]
}

.button.full {
    @apply w-full
}

.button.auto {
    @apply w-auto
}